html{
    scroll-behavior: auto !important;
}

/* encabezado barra navbar */

.navbar{
    position: fixed;
    z-index: 1;
    width: 100vw;
}

.nav-light{
    color: white;
}

/* color letras y fondo de la pagina */
body{
    color: white;
    background-color: #272222;
}

/* quienes somos borde de tarjeta eliminado */
.card-border{
    border: none;
}

.card-body{
    background-color: #272222;
    text-align: left;
    padding: 0%;
    ;
}

.card-header{
    background-color: darkturquoise;
}
.card-footer{
    background-color: darkturquoise;
}

/* destacados */

.card-body2{
    background-color: darkturquoise;
    text-align: left;
}

/* formulario */
.mb-3{
    margin-left: 2rem;
    margin-right: 2rem;
}
.btn{
    background-color: darkturquoise;
    margin-left: 2rem;
}
/* footer */
#footer{
    background-color: darkturquoise;
    margin-top: 3rem;
}

#footer a{
    color: white;
    text-decoration: none;
}